.tree-chart {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  .is-node-container {
    position: relative;
    z-index: 2;
    &.cursor-move {
      cursor: move;
    }
    &.is-draggable {
      padding: 30px 0;
    }
  }
  .tree-chart-children-container {
    vertical-align: middle;
    display: inline-block;
    &.is-hidden {
      display: none;
    }
    > .tree-chart-container {
      display: block;
    }
  }
  .tree-chart-container {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    &:last-child, &.is-node-container {
      margin-bottom: 0 !important;
    }
  }
  .tree-chart-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    &.become-child {
      box-shadow: 0 0 2px 2px #ff9a36;
      & + .tree-chart-children-container {
        & > .tree-chart-container:last-child {
          & > .tree-chart-content {
            position: relative;
            &:after {
              position: absolute;
              left: 0;
              bottom: -30px;
              content: '';
              display: block;
              width: 100%;
              height: 20px;
              border-radius: 1px;
              background-color: #ffc46b;
            }
            &.temp-chart-content {
              &:after {
                bottom: calc(50% - 10px);
              }
            }
          }
        }
      }
    }
    &.become-previous {
      position: relative;
      box-shadow: 0 0 2px 2px #ff9a36;
      &:after {
        position: absolute;
        left: 0;
        top: -30px;
        content: '';
        display: block;
        width: 100%;
        height: 20px;
        border-radius: 1px;
        background-color: #ffc46b;
      }
    }
    &.become-next {
      position: relative;
      box-shadow: 0 0 2px 2px #ff9a36;
      &:after {
        position: absolute;
        left: 0;
        bottom: -30px;
        content: '';
        display: block;
        width: 100%;
        height: 20px;
        border-radius: 1px;
        background-color: #ffc46b;
      }
    }
  }
  .tree-chart-link-container {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    path {
      fill: none;
      stroke: black;
      stroke-linecap: round;
    }
    .line-from-to {
      stroke: #ff9a36;
    }
  }
  .tree-chart-ghost-container {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    pointer-events: none;
    .tree-chart-content {
      opacity: 0.5;
    }
  }
  .tree-chart-unfold {
    cursor: pointer;
    position: absolute;
    right: -11px;
    top: calc(50% - 6px);
    width: 11px;
    height: 11px;
    border: solid 1px black;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: white;
    &:hover {
      border-color: #ff9a36;
      div {
        background-color: #ff9a36;
      }
    }
    div {
      pointer-events: none;
      position: absolute;
      background-color: black;
      &:first-child {
        left: 0;
        top: calc(50% - 1px);
        width: 100%;
        height: 1px;
      }
      &:last-child {
        display: none;
        left: calc(50% - 1px);
        top: 0;
        width: 1px;
        height: 100%;
      }
    }
    &.can-unfold {
      div {
        &:last-child {
          display: block;
        }
      }
    }
  }
}